<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Identity Provider FedCM Demo</title>
<script src="js/idp.js" async></script>
</head>
<body style="margin: 10px">

	<div style="text-align: center">
		<h1>Identity Provider FedCM Demo</h1>
		<h3>
			See the FedCM <a href="https://fedidcg.github.io/FedCM/">Sepcification</a>
		</h3>
	</div>
	
	<div
		style="width: 80%; margin-top:10px; margin-left: 10%; margin-right: 10%; border: 1px SOLID; border-radius: 10px; padding: 10px">
		<h4 style="text-align: center">FedCM Logout Steps
			(IdentityCredential.logoutRPs)</h4>
		<ol>
			<li></li>
		</ol>

		<div style="text-align: center">
			<button onclick="logout()">Logout (FedCM)</button>
		</div>
	</div>

</body>
</html>