<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Relying Party FedCM Demo</title>
<link rel="stylesheet" href="css/style.css">

<script th:inline="javascript">

function isFedCMEnabled() {
	  return !!window.IdentityCredential;
}
	console.log(isFedCMEnabled() ? "Modern FedCM is available" : "Modern FedCM is not available");

function isOldFedCMEnabled() {
	  return !(!window.FederatedCredential || !FederatedCredential.prototype.login);
}
console.log(isOldFedCMEnabled() ? "Old FedCM is available" : "Old FedCM is not available");

async function login() {
  try {
    if (!isOldFedCMEnabled() && !isFedCMEnabled()) {
      return;
    }

    var idToken = await navigator.credentials.get([(${credentialRequestOptionsSingle})]);
	document.getElementById('token').innerHTML = idToken.token;
    console.log(`received token: ${idToken.token}`);
    
  } catch (e) {
    console.log(`rejected with ${e}`);
  }
};

async function loginMultiple() {
	  try {
	    if (!isOldFedCMEnabled() && !isFedCMEnabled()) {
	      return;
	    }

	    var idToken = await navigator.credentials.get([(${credentialRequestOptionsMultiple})]);
		document.getElementById('token').innerHTML = idToken.token;
	    console.log(`received token: ${idToken.token}`);
	    
	  } catch (e) {
	    console.log(`rejected with ${e}`);
	  }
	};
</script>
<script type="text/javascript" th:inline="javascript"
	th:src="@{js/rp.js}"></script>


</head>
<body style="margin: 10px">

	<div style="text-align: center">
		<h1>Relying Party FedCM Demo</h1>
		<h3>
			See the FedCM <a href="https://fedidcg.github.io/FedCM/">Specification</a>
		</h3>
	</div>

	<div id="steps-outer">
		<h4 style="text-align: center">FedCM Login Steps
			(navigator.credentials.get())</h4>
		<ol>
			<li>GET Request to the well-known web identity file:<a
				th:href="'https://'+${rootDomain}+'/.well-known/web-identity'">.well-known/web-identity</a></li>
			<li>GET Request to the config endpoint: <a href="fedcm.json">fedcm.json</a></li>
			<li>GET Request to the accounts endpoint: <a
				href="fedcm/accounts">fedcm/accounts</a></li>
			<li>GET Request to the metadata endpoint: <a
				href="fedcm/client_metadata">fedcm/client_metadata</a></li>
			<li>POST Request to the assertion endpoint: fedcm/assertion</li>
		</ol>

		<div style="text-align: center">
			<button onclick="login()">Login (FedCM)</button>			
		</div>
		<div style="text-align: center; margin-top:5px">
			<button onclick="loginMultiple()">Login Multiple Providers (FedCM)</button>
		</div>

		<div id="token-inner">
			<h4 style="text-align: center">Token Response</h4>

			<textArea id="token"></textArea>
		</div>
	</div>


</body>


</html>