<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Relying Party FedCM Demo</title>
<script src="js/rp.js" async></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body style="margin: 10px">

	<div style="text-align: center">
		<h1>Relying Party FedCM Demo</h1>
		<h3>
			See the FedCM <a href="https://fedidcg.github.io/FedCM/">Specification</a>
		</h3>
	</div>

	<div id="steps-outer">
		<h4 style="text-align: center">FedCM Login Steps
			(navigator.credentials.get())</h4>
		<ol>
			<li>GET Request to the well-known web identity file:<a
				href=".well-known/web-identity">.well-known/web-identity</a></li>
			<li>GET Request to the config endpoint: <a href="fedcm.json">fedcm.json</a></li>
			<li>GET Request to the accounts endpoint: <a
				href="fedcm/accounts">fedcm/accounts</a></li>
			<li>GET Request to the metadata endpoint: <a
				href="fedcm/client_metadata">fedcm/client_metadata</a></li>
			<li>POST Request to the assertion endpoint: fedcm/assertion</li>
		</ol>

		<div style="text-align: center">
			<button onclick="login()">Login (FedCM)</button>
		</div>

		<div
			id="token-inner">
			<h4 style="text-align: center">Token Response</h4>

			<textArea id="token"></textArea>
		</div>
	</div>


</body>


</html>