<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Identity Provider Proxy FedCM Demo</title>
    <link rel="stylesheet" href="../css/style-proxy.css">

</head>

<body style="margin: 10px">

    <div style="text-align: center">
        <h1>Identity Provider — Requires Multi-Factor</h1>
    </div>

    <div id="steps-outer">
        <div style="text-align: center">
            <div class="centre">
                <a class="button centre" href="/idp/2fasuccess">2FA</a>
            </div>
        </div>
</body>

</html>